* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla";
}
@keyframes check-after {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.overlay {
  z-index: 990;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #00000053;
}
.centralization {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.container-background {
  background: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 30px -10px;
  display: inline-block;
  width: 100%;
}
.background-main {
  background: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
  width: 100%;
  height: auto;
}
.menu {
  padding: 10px;
  nav {
    display: flex;
    justify-content: space-between;
    a {
      img {
        margin-right: 10px;
      }
    }
  }
  ul {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      list-style-type: none;

      a {
        text-decoration: none;
        color: black;
        font-size: 25px;
      }
    }
    li:hover {
      transition: 0.2s;
      border-bottom: solid 2px black;
      height: 35px;
    }
  }
}
.menu-mobile {
  display: none;
  padding: 10px;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  hr {
    width: 20px;
    height: 5px;
    background-color: black;
    border: 0;
    margin: 2px;
  }
  button {
    background-color: transparent;
    border: 0;
  }
  button:focus {
    hr {
      transform: rotate(45deg);
      transition: 0.2s;
    }
    hr:nth-child(2) {
      display: none;
    }
    hr:nth-child(3) {
      transform: rotate(-45deg);
      position: relative;
      top: -7px;
    }
  }
}
.menu-mobile-pkm {
  display: none;
  padding: 10px;
  nav {
    display: flex;
    justify-content: flex-start;
  }
  hr {
    width: 20px;
    height: 5px;
    background-color: black;
    border: 0;
    margin: 2px;
  }
  button {
    background-color: transparent;
    border: 0;
  }
  button:focus {
    hr {
      transform: rotate(45deg);
      transition: 0.2s;
    }
    hr:nth-child(2) {
      display: none;
    }
    hr:nth-child(3) {
      transform: rotate(-45deg);
      position: relative;
      top: -7px;
    }
  }
}
.container-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.call-to-action-main {
  width: 100%;
  margin-top: 128px;
  h1 {
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 4px;

    color: #000000;
    strong {
      font-weight: 400;
    }
  }
  p {
    margin-top: 64px;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;

    color: #000000;
  }
  button {
    width: 231px;
    height: 66px;
    margin-top: 64px;
    border-radius: 11px;
    background: #73d677;
    box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);

    font-weight: 700;
    font-size: 23px;
    line-height: 27px;

    cursor: pointer;
  }
}
.image-call-to-action-main {
  img {
    position: relative;
    top: 30px;
    width: 750px;
  }
}
.info-bottom {
  display: flex;
  justify-content: space-between;
  p {
    margin-top: 100px;
  }
}

.number-pkm {
  text-align: center;
  h1 {
    margin: 73px 0 34px 0;
    font-size: 35px;
  }
  input {
    width: 1200px;
    height: 53px;

    border-radius: 30px;
    border: 0;
    background-color: #f2f2f2;
    padding-left: 20px;

    font-size: 16px;
    box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
    outline: none;
  }
  strong {
    font-weight: 800;
  }
}
.selects {
  width: 600px;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 120px;
}

.btn-option {
  width: 135px;
  height: 21px;
  align-items: center;
  padding: 0 4px 0 4px;
  background-color: #f2f2f2;
  border-radius: 8px;
  border: 0;
  box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);

  cursor: pointer;
  p {
    text-align: center;
    img {
      width: 13px;
      position: relative;
      left: 15px;
      top: 3px;
    }
  }
}
.options-check {
  display: block;
  animation-name: check-after;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}

.options {
  position: absolute;
  z-index: 100;
  width: 135px;
  height: 131px;
  display: none;
  margin-top: 10px;
  padding: 15px;
  border-radius: 10px;
  background-color: #f2f2f2;

  font-size: 16px;
  line-height: 25px;
  li {
    list-style-type: none;
    text-align: start;
  }

  a {
    text-decoration: none;
    color: #000000;
  }
}
.cards {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}
.card {
  display: flex;
  width: 350px;
  height: 135px;
 
  padding: 15px;
  margin: 15px;
  box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
  border-radius: 8px;
  overflow: hidden;

}
.circles {
  margin-top: 19px;
  display: flex;
  display: inline-flex;
  gap: 18px;
}
.circle {
  width: 35px;
  height: 35px;
  padding: 4px;
  border: solid 3px black;
  border-radius: 100px;
  text-align: center;
}
.info {
  width: 80px;
  h2 {
    font-size: 15px;
  }
  span {
    display: flex;
    gap: 15px;
    p {
      margin: 5px 0 5px 0;
      font-size: 12px;
      color: #4b4b4b;
    }
  }
}
.btns {
  display: inline-flex;
  gap: 17px;
  button {
    z-index: 99;
    width: 60px;
    height: 15px;
    font-size: 12px;
    background: #73d677;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    border: 0;
    cursor: pointer;
    p {
      position: relative;
      top: -2px;
    }
    &:nth-child(2) {
      background: #07d6f2;
    }
  }
}
.background-pkm {
  width: 100%;
  height: 135px;
  position: relative;
  left: 15px;
  top: -15px;
}
.image-card {
  img {
    position: relative;
    left: 40px;
    width: 166px;
  }
}
.exit-modal {
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 795px;
  height: 390px;
  display: none;
}
.exit {
  position: relative;
  top: -5px;
  text-align: end;
  button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
  hr {
    width: 35px;
    height: 9px;
    background-color: #000000;
    border: 0;
    border-radius: 5px;
    rotate: -45deg;
    &:nth-child(2) {
      rotate: 43deg;
      position: relative;
      top: -8px;
    }
  }
}
.modal {
  display: flex;
  width: 795px;
  height: 370px;
}
.image-modal {
  z-index: 1;
  width: 364px;
  height: 370px;
  border-radius: 10px 0 0 10px;
  box-shadow: 4px 4px 8px rgba(1, 28, 64, 0.2);
  background: linear-gradient(270deg, #b33327 0.15%, #d93e30 100%);
  img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.btns-modal {
  position: relative;
  top: 22px;
  right: 15px;
  display: flex;
  gap: 15px;
  justify-content: flex-end;

  button {
    z-index: 99;
    width: 60px;
    height: 15px;
    font-size: 12px;
    background: #73d677;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    border: 0;
    cursor: pointer;
    p {
      position: relative;
      top: -2px;
    }
    &:nth-child(2) {
      background: #07d6f2;
    }
  }
}
.info-modal {
  border-radius: 0 10px 10px 0;
  width: 100%;
  padding: 15px;
  background: linear-gradient(180deg, #732119 42.19%, #d93e30 100%);
}
.name-pkm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  h1 {
    color: white;
    font-size: 36px;
  }
  span {
    p {
      color: #fdfdfd;
      font-size: 24px;
    }
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.yellow-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  background-color: #f2b807;
}
.abilities {
  width: 264px;
  height: 60px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: white;
  padding: 12px 0 0 25px;
}
.points {
  width: 400px;
  height: 77px;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  gap: 70px;

  p {
    font-size: 16px;
  }
  hr {
    width: 137px;
    height: 5px;
    background: linear-gradient(270deg, #64d368 0.15%, #64d368 70.88%);
    border-radius: 10px;
    border: 0;
  }
  .exp {
    hr {
      background: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
    }
  }
}
.powers {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.power {
  width: 82px;
  height: 69px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  p {
    margin-top: 5px;
    font-size: 12px;
    position: relative;
    top: -2px;
  }
}
.circle-power {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  border: solid 3px black;
  border-radius: 100px;
  p {
    font-size: 16px;
  }
}
.next-pages {
  display: flex;
  justify-content: center;
  gap: 10px;

  button {
    width: 7px;
    height: 7px;
    background-color: #a4a1a1;
    border: 0;
    border-radius: 10px;

    cursor: pointer;
  }
}

@media screen and (max-width: 1210px) {
  .number-pkm {
    padding: 20px;
    input {
      width: 100%;
    }
  }
}
@media screen and (max-width: 1330px) {
  .container-main {
    flex-direction: column-reverse;
    padding: 20px;
  }
  .call-to-action-main {
    text-align: center;

    margin-top: 10px;
  }
  .info-bottom {
    padding: 20px;
  }
}
@media screen and (max-width: 900px) {
  .selects {
    width: 100%;
    justify-content: space-evenly;
    left: 0px;
  }
}
@media screen and (max-width: 800px) {
  .exit-modal {
    width: 360px;
  }
  .modal {
    flex-direction: column;
  }
  .image-modal {
    width: 360px;
    border-radius: 10px 10px 0 0;
  }
  .info-modal {
    width: 360px;
    padding: 10px;
    border-radius: 0 0 10px 10px;
  }
  .points {
    width: 330px;
    gap: 14px;
  }
  .name-pkm {
    width: 340px;
    justify-content: space-evenly;
    h1 {
      font-size: 26px;
    }
  }
  .powers {
    width: 340px;
  }
}
@media screen and (max-width: 750px) {
  .menu {
    display: none;
  }
  .menu-mobile {
    display: block;
  }
  .image-call-to-action-main {
    img {
      width: 600px;
    }
  }
}
@media screen and (max-width: 600px) {
  .image-call-to-action-main {
    img {
      width: 400px;
    }
  }
}
@media screen and (max-width: 450px) {
  .selects {
    display: none;
  }
  .menu-mobile-pkm {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .image-call-to-action-main {
    img {
      width: 350px;
    }
  }
}
