* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Karla";
}

.centralization {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.container-background {
  background: -webkit-gradient(linear, left top, left bottom, from(#f5db13), to(#f2b807));
  background: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
  width: 100%;
  height: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0px 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.18) 0px 10px 10px;
}

.background-main {
  background: -webkit-gradient(linear, left top, left bottom, from(#f5db13), to(#f2b807));
  background: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
  width: 100%;
  height: auto;
}

.menu {
  padding: 10px;
}

.menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu nav a img {
  margin-right: 10px;
}

.menu ul {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu ul li {
  list-style-type: none;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.menu ul li:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-bottom: solid 2px black;
  height: 35px;
}

.menu-mobile {
  display: none;
  padding: 10px;
}

.menu-mobile nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-mobile hr {
  width: 20px;
  height: 5px;
  background-color: black;
  border: 0;
  margin: 2px;
}

.menu-mobile button {
  background-color: transparent;
  border: 0;
}

.menu-mobile button:focus hr {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu-mobile button:focus hr:nth-child(2) {
  display: none;
}

.menu-mobile button:focus hr:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
  top: -7px;
}

.container-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.call-to-action-main h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 4px;
  color: #000000;
}

.call-to-action-main p {
  margin-top: 64px;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
}

.call-to-action-main button {
  width: 231px;
  height: 66px;
  margin-top: 64px;
  border-radius: 11px;
  background: #73d677;
  -webkit-box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
          box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  cursor: pointer;
}

.image-call-to-action-main img {
  position: relative;
  right: -85px;
}

.info-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-bottom p {
  margin-bottom: 15px;
}

@media screen and (max-width: 750px) {
  .menu {
    display: none;
  }
  .menu-mobile {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */